body {
  background-color: #6D8B74;
  font-family: "roboto";
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
}

.navcontainer {
  padding: 2% 8%;
}

.nav-link {
  color: #fff;
}

.nav-item {
  font-weight: bold;
}

.landingdiv {
  padding: 2% 8%;
  padding-bottom: 4%;
}

.landing-header {
  padding-bottom: 30px;
  color: #fff;
  font-weight: lighter;
}

.landing-image {
  max-width: 90%;
  border-radius: 50%;
}

#landingpageheader {
  padding-top: 3%;
}


hr {
  color: #fff;
}


.searchbar {
  text-align: left;
}

.lowerselect {
  padding-bottom: 30px;
}

.sportsimage {
  text-align: right;
  vertical-align: middle;
}

.perkstable {
  text-align: center;
  color: #fff;
}


.subpagetitle {
  padding: 0 8%;
  color: #fff;
}

.pageheader {
  text-align: center;
  padding-bottom: 1%;
  padding-top: 2%;
  font-weight: bold;
}

.iconfa {
  padding-right: 10px;
}

.termsandcons {
  text-decoration: underline;
}

.iconclass {
  text-align: center;
  padding-bottom: 2%;
}

.subpagecontent {
  padding: 0 8%;
  color: #fff;
}

.subpageparagraph {
  padding-bottom: 2%;
}


.contactdiv {
  background-color: #6D8B74;
  height: 240px;
  margin: 0;
  text-align: center;
}


.iconclass {
  text-align: center;
  padding-bottom: 2%;
}



/*
.myfooter {
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
}
*/
.socials {
  margin: auto;
}

.socials-header {
  padding-bottom: 5px;
  padding-top: 20px;
  color: #fff;
  font-weight: bold;
}

.socials a:hover {
	position: relative;
	bottom: 10px;
}

.copyright {
  padding-top: 30px;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  padding-bottom: 30px;
}
